body {
	background: #E8F1F5;
	color: #004A7C;
	margin: 3%;
}

header {
	padding: 2%;
	color: #323232;
}

.blockBottom {
	background: #5A92AF;
	padding: 1px;
}

.block {
	background: #FAFAFA;
	margin: 2%;
	padding: 3%;
}

.spa {
	height: 30px;
}

