body {
	background: #222831;
	color: #FFF;
	margin: 3%;
}

header {
	color: #EEEEEE;
	margin: 3%;
	text-align: center;
}

.row {
	margin: 3%;
}

.block {
	background: #0092CA;
	height: 20px;
}

/* ================= hover ================ */
.opac {
	background: #393E46;
	width: 300px;
	height: 210px;
	padding: 5px;
	margin: 0 auto;
}
.opac:hover img {
	opacity: 0.2;
	color: black;
}

.opac:hover .descri {
	color: #FFF;
	z-index: 1;
}

.descri {
	position: absolute;
	padding: 10px;
	z-index: -1;
}

img {
	width: 290px;
	height: 200px;
	z-index: 1;
}

/* ======================================= */

a {
	color: #FFF;
}

a:hover {
	color: #0092CA;
}